<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RosApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="RosService.MaxPoolSize" value="3" />
  </appSettings>
  <userSettings>
    <RosApplication.Properties.Settings>
      <setting name="ИмяПользователя" serializeAs="String">
        <value/>
      </setting>
      <setting name="Пароль" serializeAs="String">
        <value/>
      </setting>
      <setting name="IsЗапомнить" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="АдресСервера" serializeAs="String">
        <value>itrf.ru</value>
      </setting>
      <setting name="СохранятьОткрытыеВкладки" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ТипСоединения" serializeAs="String">
        <value>GZip</value>
      </setting>
      <setting name="АвтоматическоеОбновление" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Версия" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="НеПоказыватьСообщениеОбУдалении" serializeAs="String">
        <value>False</value>
      </setting>
    </RosApplication.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <!--<legacyCorruptedStateExceptionsPolicy enabled="true"/>-->
  </runtime>
  <system.net>
    <defaultProxy>
      <proxy autoDetect="True" usesystemdefault="True" />
    </defaultProxy>
  </system.net>

</configuration>
