<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Converter.DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BaseDir" value=""/>
  </appSettings>
  <userSettings>
    <Converter.DB.Properties.Settings>
      <setting name="FromServer" serializeAs="String">
        <value />
      </setting>
      <setting name="FromLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="FromPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="FromDB" serializeAs="String">
        <value />
      </setting>
      <setting name="ToServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ToLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="ToPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ToDB" serializeAs="String">
        <value />
      </setting>
    </Converter.DB.Properties.Settings>
  </userSettings>
</configuration>