<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ОперативноеХранилище" value="R:\ФайловоеХранилище\Оперативное" />
    <add key="ПросмотрХранилище" value="R:\ФайловоеХранилище\Просмотр\" />
    <add key="АрхивХранилище" value="R:\ФайловоеХранилище\Архив\" />
    <add key="GoogleMapKey" value="ABQIAAAAXZ9eidkMEr0uNYubaskGuhSkSSMW-CZHm5zY2fQrNZaIFKmsLxQCg-S0Ub8l1MDGbA7uHn0YlQHglQ" />
    <!-- отправка оповещений в тех.поддержку -->
    <add key="ТехническаяПоддержка.БазаДанных" value="экогрупп" />
    <add key="ТехническаяПоддержка.SMTP" value="" />
    <add key="ТехническаяПоддержка.Login" value="support@itrf.ru" />
    <add key="ТехническаяПоддержка.Password" value="ghelybrjd" />
    <!-- можно указать несколько адресов через точку запятов (;) -->
    <add key="ТехническаяПоддержка.Emails" value="support@itrf.ru" />
    
    <!-- Время кеширования значений -->
    <!--<add key="MemoryCache" value="89.108.73.237:6379;89.108.73.237:6380;89.108.73.237:6381;89.108.73.237:6382;89.108.73.237:6383;89.108.73.237:6384" />-->
    <add key="MemoryCache.Db" value="9" />
    <add key="MemoryCache.Timeout" value="1.00:00:00" />
    <!--<add key="MemoryCache.PoolSize" value="256" />-->
    <!-- Отключить архив значений -->
    <add key="Хранилище.ОтключитьАрхивЗначений" value="True" />
    <!-- Отключить кеширование таблиц -->
    <add key="Хранилище.ОтключитьКешированиеТаблиц" value="False" />
    <!-- Не удалять связанные по ссылки объекты, ускорят удаление -->
    <add key="Хранилище.НеУдалятьСвязанныеОбъекты" value="True" />
    <!-- Оключить удаление -->
    <add key="Хранилище.ОтключитьУдаление" value="False" />
    <!-- Сервер статистики -->
    <add key="СерверСтатистики" value="g.itrf.ru" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Hbase connect string -->
    <add key="default.hbase" value="89.108.73.237"/>
    <!--
    <add key="брокер24.hbase.Node" value="217.28.211.61"/>
    <add key="брокер24.hbase" value="217.28.211.61"/>
    
    <add key="брокер24.hbase.Href" value="217.28.211.61"/>
    <add key="брокер24.hbase.Settings" value="217.28.211.61"/>
    -->
    <!-- End Hbase connect string -->
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <!--<add name="default.cache" connectionString="Data Source=10.1.1.202;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->

    <!--<add name="default"       connectionString="Data Source=10.1.1.15;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <add name="default.cache" connectionString="Data Source=10.1.1.18;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->

    <!--<add name="default.cache.Клиент" connectionString="Data Source=10.1.1.32;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <add name="default.cache.ЗаявлениеНаСтрахование" connectionString="Data Source=10.1.1.32;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <add name="default.cache.Консультирование" connectionString="Data Source=10.1.1.30;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->    
    
    <!--<add name="артлайф" connectionString="Data Source=83.172.20.222;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <add name="дмж" connectionString="Data Source=10.1.1.15;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="смт5" connectionString="Data Source=87.239.25.202;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->

    <add name="регистр" connectionString="Data Source=register.ravnoepravo.ru;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <!--<add name="регистр.cache.Файлы" connectionString="Data Source=89.108.73.237;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="регистр.cache" connectionString="Data Source=89.108.73.237;Database={0}-cache;User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="нпрпж" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <add name="радамир" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="азбука_подольск" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="крисько" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->
    <!--Запустить собственный memory кеш сервер-->
    <add name="БазаДанныхБанков" connectionString="dbq=D:\базабиков\;defaultdir=D:\базабиков\;driverid=277;maxbuffersize=2048;pagetimeout=30" />
    <add name="БазаКладр" connectionString="Data Source=10.1.1.201;Database=КЛАДР;User=web;Password=ros123;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="8096" />
    </connectionManagement>
  </system.net>
  <system.serviceModel>
    <client>
      <endpoint address="http://kladr.itrf.ru/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceKladr.IService1" name="BasicHttpBinding_IService1" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="RosService.basicHttpBinding" allowCookies="false" maxBufferPoolSize="1048576" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" messageEncoding="Text">
          <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="1048576" maxNameTableCharCount="16384" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="RosService.basicHttpBinding.Mtom" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="1048576" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="RosService.customBinding.GZip">
          <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding" />
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
        <binding name="RosService.customBinding.Binary.Stream">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647">
            <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" />
        </binding>
        <binding name="RosService.customBinding.Binary">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647">
            <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
      <netNamedPipeBinding>
        <binding name="RosService.netNamedPipeBinding" receiveTimeout="12:00:00" transactionFlow="true" transferMode="Buffered" maxBufferPoolSize="1048576" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="1048576" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="RosService.netTcpBinding" receiveTimeout="12:00:00" transactionFlow="false" transferMode="Buffered" listenBacklog="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="false" inactivityTimeout="12:00:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="RosService.wsHttpBinding.Mtom" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="RosService.wsHttpBinding.Text" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.Data">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RosService.wsHttpBinding.Text" contract="RosService.Intreface.IData" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="RosService.basicHttpBinding" contract="RosService.Intreface.IData" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary" contract="RosService.Intreface.IData" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="RosService.customBinding.GZip" contract="RosService.Intreface.IData" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="RosService.netTcpBinding" contract="RosService.Intreface.IData" />
        <endpoint address="pipe" binding="netNamedPipeBinding" bindingConfiguration="RosService.netNamedPipeBinding" contract="RosService.Intreface.IData" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/Data" />
            <add baseAddress="net.tcp://localhost/RosService/Data" />
            <add baseAddress="net.pipe://localhost/RosService/Data" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.Configuration">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RosService.wsHttpBinding.Text" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="RosService.basicHttpBinding" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="RosService.customBinding.GZip" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="RosService.netTcpBinding" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="pipe" binding="netNamedPipeBinding" bindingConfiguration="RosService.netNamedPipeBinding" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/Configuration" />
            <add baseAddress="net.tcp://localhost/RosService/Configuration" />
            <add baseAddress="net.pipe://localhost/RosService/Configuration" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.Finance">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RosService.wsHttpBinding.Text" contract="RosService.Intreface.IFinance" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="RosService.basicHttpBinding" contract="RosService.Intreface.IFinance" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary" contract="RosService.Intreface.IFinance" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="RosService.customBinding.GZip" contract="RosService.Intreface.IFinance" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="RosService.netTcpBinding" contract="RosService.Intreface.IFinance" />
        <endpoint address="pipe" binding="netNamedPipeBinding" bindingConfiguration="RosService.netNamedPipeBinding" contract="RosService.Intreface.IFinance" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/Finance" />
            <add baseAddress="net.tcp://localhost/RosService/Finance" />
            <add baseAddress="net.pipe://localhost/RosService/Finance" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.Services">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RosService.wsHttpBinding.Text" contract="RosService.Intreface.IServices" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="RosService.basicHttpBinding" contract="RosService.Intreface.IServices" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary" contract="RosService.Intreface.IServices" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="RosService.customBinding.GZip" contract="RosService.Intreface.IServices" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="RosService.netTcpBinding" contract="RosService.Intreface.IServices" />
        <endpoint address="pipe" binding="netNamedPipeBinding" bindingConfiguration="RosService.netNamedPipeBinding" contract="RosService.Intreface.IServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/Services" />
            <add baseAddress="net.tcp://localhost/RosService/Services" />
            <add baseAddress="net.pipe://localhost/RosService/Services" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.File">
        <endpoint address="" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary.Stream" contract="RosService.Intreface.IFile" />
        <endpoint address="basic" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary.Stream" contract="RosService.Intreface.IFile" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary.Stream" contract="RosService.Intreface.IFile" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/File" />
          </baseAddresses>
        </host>
      </service>
      <service name="RosService.CrossDomain">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="HttpEnableBehavior" contract="RosService.Intreface.ICrossDomain" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HttpEnableBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RosService.ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
          <serviceThrottling maxConcurrentInstances="1000" maxConcurrentCalls="1000" maxConcurrentSessions="1000" />
          <!--<serviceErrorLogging />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="RosService.ServiceModel.GZipMessageEncodingElement, RosService.Server" />
      </bindingElementExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>