<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerName" value="ROSSERVICE5:8181" />
    <add key="ServerDisplay" value="Ros.Service 5.0 (www.itrf.ru) [8181]" />
    
    <add key="ОперативноеХранилище" value="D:\Прудников Роман\Visual Studio Projects 2008\WpfTemplate\ФайловоеХранилище\Оперативное" />
    <add key="ПросмотрХранилище" value="D:\Прудников Роман\Visual Studio Projects 2008\WpfTemplate\ФайловоеХранилище\Просмотр\" />
    <add key="АрхивХранилище" value="D:\Прудников Роман\Visual Studio Projects 2008\WpfTemplate\ФайловоеХранилище\Архив\" />
    <add key="GoogleMapKey" value="ABQIAAAAXZ9eidkMEr0uNYubaskGuhSkSSMW-CZHm5zY2fQrNZaIFKmsLxQCg-S0Ub8l1MDGbA7uHn0YlQHglQ" />
    <!-- отправка оповещений в тех.поддержку -->
    <add key="ТехническаяПоддержка.БазаДанных" value="экогрупп" />
    <add key="ТехническаяПоддержка.SMTP" value="" />
    <add key="ТехническаяПоддержка.Login" value="support@itrf.ru" />
    <add key="ТехническаяПоддержка.Password" value="ghelybrjd" />
    <!-- можно указать несколько адресов через точку запятов (;) -->
    <add key="ТехническаяПоддержка.Emails" value="support@itrf.ru" />


    <!-- Использовать удаленный memory кеш сервер -->
    <add key="MemoryCache.Client" value="False" />
    <!-- Время кеширования значений -->
    <add key="MemoryCache.Timeout" value="03:00:00" />

    <!-- Использовать кеширование в tempdb, в противном случае используется оперативная память declare @table -->
    <add key="SQL.tempdb" value="False" />

    <!-- Отключить архив значений -->
    <add key="Хранилище.ОтключитьАрхивЗначений" value="True" />
    <!-- Отключить кеширование таблиц -->
    <add key="Хранилище.ОтключитьКешированиеТаблиц" value="False" />
    <!-- Не удалять связанные по ссылки объекты, ускорят удаление -->
    <add key="Хранилище.НеУдалятьСвязанныеОбъекты" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=tfs;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <add name="фоми" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <add name="нпрпж" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />
    <!--<add name="азбука_подольск" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="радамир" connectionString="Data Source=10.1.1.201;Database={0};User=web;Password=ros123;" providerName="System.Data.SqlClient" />-->
    <!--Запустить собственный memory кеш сервер-->
    <add name="MemoryCache.Server" connectionString="Port=9090" />
    <add name="БазаДанныхБанков" connectionString="dbq=D:\базабиков\;defaultdir=D:\базабиков\;driverid=277;maxbuffersize=2048;pagetimeout=30" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="8096" />
    </connectionManagement>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RosService.basicHttpBinding" allowCookies="false" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="1048576" messageEncoding="Text" textEncoding="utf-8">
          <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="1048576" maxNameTableCharCount="16384" />
          <security mode="None">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="RosService.basicHttpBinding.Mtom" messageEncoding="Mtom" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="1048576" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="RosService.wsHttpBinding.Mtom" messageEncoding="Mtom" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
        </binding>
        <binding name="RosService.wsHttpBinding.Text" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="0" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="RosService.customBinding.GZip">
          <gzipMessageEncoding innerMessageEncoding="binaryMessageEncoding" />
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="RosService.customBinding.Binary.Stream">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647">
            <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
        </binding>
        <binding name="RosService.customBinding.Binary">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647">
            <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="RosService.netTcpBinding" transactionFlow="false" portSharingEnabled="true" maxConnections="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Buffered" listenBacklog="2147483647">
          <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="RosService.netNamedPipeBinding" transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="1048576" transferMode="Buffered">
          <readerQuotas maxDepth="256" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="1048576" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.Data">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RosService.wsHttpBinding.Text" contract="RosService.Intreface.IData" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="RosService.basicHttpBinding" contract="RosService.Intreface.IData" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary" contract="RosService.Intreface.IData" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="RosService.customBinding.GZip" contract="RosService.Intreface.IData" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="RosService.netTcpBinding" contract="RosService.Intreface.IData" />
        <endpoint address="pipe" binding="netNamedPipeBinding" bindingConfiguration="RosService.netNamedPipeBinding" contract="RosService.Intreface.IData" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/Data" />
            <add baseAddress="net.tcp://localhost/RosService/Data" />
            <add baseAddress="net.pipe://localhost/RosService/Data" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.Configuration">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RosService.wsHttpBinding.Text" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="RosService.basicHttpBinding" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="RosService.customBinding.GZip" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="RosService.netTcpBinding" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="pipe" binding="netNamedPipeBinding" bindingConfiguration="RosService.netNamedPipeBinding" contract="RosService.Intreface.IConfiguration" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/Configuration" />
            <add baseAddress="net.tcp://localhost/RosService/Configuration" />
            <add baseAddress="net.pipe://localhost/RosService/Configuration" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.Finance">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RosService.wsHttpBinding.Text" contract="RosService.Intreface.IFinance" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="RosService.basicHttpBinding" contract="RosService.Intreface.IFinance" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary" contract="RosService.Intreface.IFinance" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="RosService.customBinding.GZip" contract="RosService.Intreface.IFinance" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="RosService.netTcpBinding" contract="RosService.Intreface.IFinance" />
        <endpoint address="pipe" binding="netNamedPipeBinding" bindingConfiguration="RosService.netNamedPipeBinding" contract="RosService.Intreface.IFinance" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/Finance" />
            <add baseAddress="net.tcp://localhost/RosService/Finance" />
            <add baseAddress="net.pipe://localhost/RosService/Finance" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.Services">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="RosService.wsHttpBinding.Text" contract="RosService.Intreface.IServices" />
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="RosService.basicHttpBinding" contract="RosService.Intreface.IServices" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary" contract="RosService.Intreface.IServices" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="RosService.customBinding.GZip" contract="RosService.Intreface.IServices" />
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="RosService.netTcpBinding" contract="RosService.Intreface.IServices" />
        <endpoint address="pipe" binding="netNamedPipeBinding" bindingConfiguration="RosService.netNamedPipeBinding" contract="RosService.Intreface.IServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/Services" />
            <add baseAddress="net.tcp://localhost/RosService/Services" />
            <add baseAddress="net.pipe://localhost/RosService/Services" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="RosService.ServiceBehavior" name="RosService.File">
        <endpoint address="" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary.Stream" contract="RosService.Intreface.IFile" />
        <endpoint address="basic" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary.Stream" contract="RosService.Intreface.IFile" />
        <endpoint address="binary" binding="customBinding" bindingConfiguration="RosService.customBinding.Binary.Stream" contract="RosService.Intreface.IFile" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RosService/File" />
          </baseAddresses>
        </host>
      </service>
      <service name="RosService.CrossDomain">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="HttpEnableBehavior" contract="RosService.Intreface.ICrossDomain" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HttpEnableBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RosService.ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
          <serviceThrottling maxConcurrentInstances="1000" maxConcurrentCalls="1000" maxConcurrentSessions="1000" />
          <!--<serviceErrorLogging />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="RosService.ServiceModel.GZipMessageEncodingElement, RosService.Server" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>